.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1px;
    
    padding: 2 px;
    margin: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(11, 48, 38, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    color: aliceblue;
    margin: 10px;
    border: 2px solid rgb(107, 103, 103);
    box-shadow: 2px;
    border-radius: 25px;
  }

  .widget-container{
    margin: 5px;
  }